<h1>Author Bio</h1>
<div data-sly-use.author = "${'com.aem.geeks.core.models.Author' @ rAttribute='TestAttribute'}"></div>

    <div>First Name : ${author.firstName} </div>
    <div>Last Name : ${author.lastName} </div>
    <div>Is Professor : ${author.isProfessor} </div>
    <div>Page Title : ${author.pageTitle} </div>
    <div>Request Attribute : ${author.requestAttribute} </div>
    <div>Home Page Name : ${author.homePageName}</div>
    <div>Last Modifed By : ${author.lastModifiedBy}</div>

    <sly data-sly-resource="${@path='/content/experience-fragments/aemgeeks/us/en/site/testExperienceFragment/master',
         selectors='content', wcmmode='disabled'}"></sly>